.pagination_list{
    background-color: #062e33;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: none;
    margin: 70px 100px;
}

.pagination_list a {
    padding: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #062226;
    min-width: 50px;
}

.pagination_list a:hover{
    background-color: #194c52;
    
}

a:focus {
    background-color: #3e7980;
}

@media (max-width: 500px) {
    .pagination_list a{
        padding: 10px;
        font-size: 15px;
        margin: 0;
    }
    .pagination_list{
        gap: 0.5rem;
        margin: 20px;
    }

}

@media (max-width: 1000px) {
    .pagination_list a{
        padding: 15px;
        font-size: 20px;
        margin: 0;
    }
    .pagination_list{
        gap: 1.5rem;
        margin: 20px;
    }

}




