body{
  margin: 0;
}

html{
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #062e33;
  scroll-behavior: smooth;
}

*, *::after, *::before{
  box-sizing: inherit;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  
}